@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  font-family: "Lexend", sans-serif;
}

.signInCon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  overflow-y: auto;
  background-color: #659dbd;
  position: relative;
}


.sideImg {
  width: 100%;
  height: 100%;
  background-color: #659dbd;
}


@media only screen and (max-width: 800px) {
  .sideImg {
    display: none;
  }
}

.sideImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.signInCon>form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 70%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.bottomNav {
  position: absolute;
  bottom: 10%;
  color: #fff;
}

.bottomNav span {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.signInCon>form .signInText {
  font-size: clamp(2rem, 5vw, 5vw);
  text-align: center;
  font-weight: bold;
  color: white;
}

.signInCon>form>input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.signInCon>form>button {
  all: unset;
  width: 150px;
  height: 50px;
  background-color: #fbeec1;
  color: rgb(219, 185, 185);
  text-align: center;
  color: #659dbd;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}

.signInCon>.bottomNav {
  color: white;
}

.signInCon>.bottomNav span {
  text-decoration: underline;
  cursor: pointer;
}

.forgotCon {
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forgotCons {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  gap: 3px;
  padding-left: auto;
  color: white;
}

.forgotCons>span {
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}

.signUpCon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  background-color: #659dbd;
}

.signUpCon>form {
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  flex-direction: column;
  gap: 10px;
}

.signUpCon>form .signUpText {
  font-size: clamp(2rem, 5vw, 5vw);
  text-align: center;
  font-weight: bold;
  color: white;
}

.signUpCon>form>input {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  outline: none;
  border: none;
  max-width: 100%;
  padding: 5px;
}

.signUpCon>form>select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
}

.signUpCon>form>button {
  all: unset;
  height: 50px;
  width: 150px;
  text-align: center;
  background-color: #fbeec1;
  border-radius: 10px;
  color: #659dbd;
  font-weight: bold;

}

.already {
  color: white;
}

.already span {
  text-decoration: underline;
  cursor: pointer;
}

.forgotPwCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100vh;
  color: white;
  width: 100%;
  background-color: #659dbd;
}

.forgotText {
  font-size: clamp(2rem, 5vw, 3vw);
  text-align: center;
  font-weight: bold;
  color: white;
}

.forgotPwCon>form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.forgotPwCon>form>input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.forgotPwCon>form>button {
  all: unset;
  height: 30px;
  width: 150px;
  text-align: center;
  padding: 10px;
  background-color: #fbeec1;
  border-radius: 10px;
  color: #659dbd;
  font-weight: bold;
}

.forgotBot>span {
  cursor: pointer;
  text-decoration: underline;
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #659dbd;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 10px;
  color: #fbeec1;
}

.logOutCon {
  color: #fbeec1;
  margin-right: 10px;
  background-color: #fbeec1;
  color: #659dbd;
  padding: 10px;
  border-radius: 10px;
}

body {
  background-color: #fbeec1;
}

.systemCon {
  background-color: #fbeec1;
  height: auto;
}

.midCon {
  display: flex;
  gap: 10px;
}

.midCon .btns {
  text-decoration: none;
  color: #659dbd;
  background-color: #fbeec1;
  padding: 10px;
  border-radius: 10px;
}

.TableCon {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.TableCon table thead {
  background-color: #659dbd;
}
 .firstTableCon {
  margin-top: 20px;
  padding-inline: 5%;
width: 100%;
}
.firstTable {
  margin-top: 20px;
  padding-inline: 5%;
}
.TableCon .dataTable {
  width: 100%;
  margin-top: 20px;
  padding-inline: 5%;
  
}
.TableCon .secTable {
  width: 100%;
  margin-top: 20px;
  padding-inline: 5%;
  margin-bottom: 20px;
  
}

.TableCon table thead tr th {
  padding: 10px;
}

.TableCon .swiper-slide table tbody {
  background-color: whitesmoke;
}

.TableCon  .swiper-slide table tbody tr td {
  padding: 10px;
}

.swiper-slide .firstTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.secTable {
  margin-top: 20px;
}
.swiper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.swiper-slide-content {
  display: flex;
  flex-direction: row;
}

.secTable tbody tr td {
  width: 50%;
}

.addDataButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.addDataButton>button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: #659dbd;
  color: #fbeec1;
  border-radius: 10px;
}

.addDataCon {
  position: fixed;
  background-color: #659dbd;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px -1px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -1px 10px 0px rgba(0, 0, 0, 0.75);
z-index: 22;
border-radius: 20px;
margin: 10px;
}
.btnActions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btnActions > button {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  background-color:#fbeec1;
  color: #659dbd;
}
.addDataCon .saveBtn {
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  background-color:#fbeec1;
  color: #659dbd;
  display: flex;
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.notAllowed {
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expences {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
}
.expences table {
  width: 100%;
background-color: #659dbd;
}

.expences input {
  width: 100%;
}
.remove {
  padding: 10px;
  background-color: #fbeec1;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 100%;
  text-align: center;
}


.itemExpence {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}


.RecordsCon {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.firstTables {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-bottom: 20px;
}

.recCon {
  height: auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-inline: 5%;
}
.recCon input {
  width: 60%;
}
.recCon table {
  width: 100%;
  padding-inline: 5%;
  height: auto;
  margin-top: 20x;
}

.recCon table tr th {
  background-color: #659dbd;
}
.recCon table tr td {
  background-color: white;
}

.AddRec {
  background-color: #659dbd;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
border-radius: 20px;
}
.addRecordCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addRecText {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.addRecordCon table tr th {
  background-color: #fbeec1;
  padding: 10px;

}
.close {
  padding: 10px;
  background-color: #fbeec1;
  border-radius: 20px;
  width: 80px;
  text-align: center;
}

.submitBtn {
  margin-top: 20px;
}

.submitBtn button {
  padding: 10px;
  background-color: #fbeec1;
  border-radius: 20px;
  color: #659dbd;
  width: 120px;
  text-align: center;
  border: none;
}

.RecordsCon .swiper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.RecordsCon .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}


.addRecord {
  background-color: #659dbd;
  color: #fbeec1;
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 10px;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  position: fixed;
  z-index: 2222;
  border: none;
  right: 3%;
  bottom: 10%;
}

.recCon table tr th {
  padding: 10px;
}

.recCon table tr td {
  padding: 10px;
  overflow: hidden;
}
.recCon table tr td button {
  padding: 10px 10px;
  width: 100%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #659dbd;
  color:#fbeec1;
}

.editBtnCon button{
  padding: 10px 10px;
  width: 100%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #659dbd;
  color:#fbeec1;
}
.firstEditBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstEditBtn button  {
  padding: 10px;
  width: 30%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #659dbd;
  color:#fbeec1;
}



.recCon {
  height: 80%;
}
.recCon .firstTables {
  height: 20%;
}
.recTable {
  height: 100vh;
  overflow: hidden;
  height: auto;
}

.recTable {
  max-height: 500px; /* Set the maximum height */
  overflow: auto; /* Enable scrolling if content exceeds the maximum height */
}


.imageCon {
  height: 100px;
  width: 100px;
}

.imageCon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.recCon .recTable table tbody td {
  overflow: hidden;
  background-color: red;
}



.totalTr {
  background-color: white;
  width: 100%;
}


.addDataCon table tbody tr td input {
  width: 98%;
  margin: 1px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.totalSalesTr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.expencesTr {
  background-color: white;
}

.totalSalesTr{
  margin-top: 20px;

}

.cal {
  background-color: white;
  color: green;
  font-weight: bold;
  width: 100%;
}

.static {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.staticCon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-image: url('./imgs/BgTwo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.staticTextCon {
  background-color: #fbeec1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 0px #659dbd;
-webkit-box-shadow: 0px 0px 16px 0px #659dbd;
-moz-box-shadow: 0px 0px 16px 0px #659dbd;
}
.staticText{
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: bold;
  line-height: 99%;
  text-transform: capitalize;
  text-align: center;
}
.staticText span {
  color: #659dbd;
}
.static .gridCon {
  padding: 10px;
  display: flex;
  width: 100%;
  max-width: 80%;
  gap: 10px;
  margin-top: 5%;
}

.gridItem {
  background-color: white;
  color: black;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.gridTitle {
  background-color: #659dbd;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%;
}
.gridDesc {
  text-transform: capitalize;
  padding: 10px;
  text-align: left;
  border-top: 1px solid #ccc;
}

.gridItem .image {
  height: 200px;
  width: 200px;
  
}

.staticDesc {
  text-align: center;
}

.gridItem .image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} 

.navTo {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #659dbd;
  margin-top: auto
}


@media only screen and (max-width: 1050px) {
  .static .gridCon {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .static {
    height: auto;
  }
  .staticCon {
    overflow: visible;
    height: auto;
    padding: 10px;
  }
}


@media only screen and (max-width: 650px) {
.midCon {
  display: none;
}
.static .gridCon {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}

.manageUsers {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.manageUserCon {
  height: 75%;
  display: flex;
  align-items: center;
  padding: 5%;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  overflow-y: auto;
  
}

.manageUserCon table {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #659dbd;
}

.manageUserCon table thead tr {
  background-color: #659dbd;
  padding: 10px;
  color: white;
}

.manageUserCon table thead td {
  padding: 10px;
}

.manageUserCon table tbody tr td {
  background-color: #fff;
  padding: 10px;
  color: black;
}

.manageUserCon table tbody tr td .manageConBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.manageUserCon table tbody tr td .manageConBtn button {
  width: 100%;
  background-color: #659dbd;
  color: #ccc;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px;
}


  .manageUserCon .manageConBtn .recover {
    background-color: green;
  }  .manageUserCon .manageConBtn .del {
    background-color: red;
  }

  .manageUserText {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    text-align: center; 
    padding-top: 30vh;
  }

  .manageUserText span{
    color: #659dbd;
  }

  .manageUserCon table tbody tr td span {
    color: white;
    padding: 3px;
    background-color: green;
    border-radius: 5px;
  }

  .manageUserCon table tbody .you td {
    background-color: #ccc;
    color: black;
    font-weight: bold;
  }

  .midCon .btns {
    cursor: pointer;
  }

  .midCon .btns:hover {
    background-color: #659dbd;
    border: 1px solid #fbeec1;
    color: #fbeec1;
    transition: all 0.2s ease-in-out;
  }

  .logOutCon:hover {
    background-color: #659dbd;
    border: 1px solid #fbeec1;
    cursor: pointer;
    color: #fbeec1;
    transition: all 0.2s ease-in-out;
  }